[submodule "extern/CommonLibSSE_AE"]
	path = extern/CommonLibSSE_AE
	url = https://github.com/Seally/CommonLibSSE.git
[submodule "extern/CommonLibSSE_SE"]
	path = extern/CommonLibSSE_SE
	url = https://github.com/Seally/CommonLibSSE.git
